@inherits LayoutComponentBase

<div class="onboarding-layout">
    @Body
</div>

<style scoped>
.onboarding-layout {
    background-color: #000;
    color: white;
    min-height: 100dvh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
</style>